.App {
  margin-top: 5em;
}

/* Header Style */
header {
  top: 0; left: 0; right: 0;
  background: #0e314f;
  padding: 10px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  position: fixed;
}

header .logo {
  width: 65px;
}

header .navbar ul li {
  width: 10rem;
  position: relative;
  float: left;
  font-size: 20px;
  text-align: center;
}

header .navbar ul li a {
  padding: 10px;
  display: block;
  opacity: 0.70;
}

header .navbar ul li a:hover {
  opacity: 1;
}

header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  z-index: 2;
  background: #0e314f;
  display: none;
  border-radius: 10px;
}

header .navbar ul li ul li {
  width: 100%;
  font-size: 16px;
  border-radius: 0px;
  border-radius: 10px;
}

header .navbar ul li ul li:hover {
  background: #1b599065;
}

header .navbar ul li ul li ul {
  left: 200px;
  top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
  display: initial;
  animation: appear .5s ease-in-out;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  cursor: pointer;
  display: none;
}

/* Section */
section {
  background-color: #0e314fac;
}

section .container {
  width: auto;
  max-width: 1000px;
  backdrop-filter: blur(5px);
  text-align: center;
  letter-spacing: 1.5px;
  padding: 3rem 1.5rem 1.5rem;
  margin: auto;
}

section .container h1, p {
  max-width: 1000px;
  margin: auto;
}

section .container h1 {
  margin-bottom: .3rem;
}

section .container p {
  font-size: 15px;
}

section .container .flags {
  margin-top: .8em;
}

section .container .flags img {
  display: inline-block;
  width: 50px;
  margin: 0 5px;
}

/* Main */
main {
  width: 100%;
  background-color: #0e314fac;
  backdrop-filter: blur(5px);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  margin: 0 auto;
  gap: 1rem;
}

main .container h1 {
  max-width: 500px;
  display: inline;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 1rem;
}

main .main2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

main .container img {
  display: inline;
  height: auto;
  width: 450px;
  max-width: 100%;
  border-radius: 10px;
}

/* Social Media Style */
.social-component {
  display: flex;
  gap: 1em;
  font-size: 150%;
}

/* Container Style */
.container-main {
  background-color: #0e314fac;
  backdrop-filter: blur(5px);
  padding: 7rem 0 3rem 0; 
  margin: 0 auto;
  text-align: center;
}

.container-main h1{
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 1.5rem;
  margin: 0 auto;
  gap: 1rem;
  border-top: .5px solid #cccccc1b;
}

.container-child {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-child p {
  display: inline;
  /* margin: 0; */
  padding: .8rem;
}

.container-wrapper img {
  display: inline;
  height: auto;
  width: 400px;
  max-width: 100%;
  border-radius: 10px;
}


/* Footer Style */
footer {
  background-color: #0e314f;
  padding: 20px;
}

footer a, .social-component a {
  opacity: 0.7;
  cursor: pointer;
}

footer a:hover, .social-component a:hover {
  opacity: 1;
}

footer .social-medias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
}

footer .social-medias a {
  width: 40px;
  height: 40px;
  font-size: 24px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 8px;
}

footer ul {
  text-align: center;
}

footer ul li {
  display: inline-block;
  padding: 0 10px;
}

footer p {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: rgb(197, 197, 197);
}

/* Gallery Style */
.wrapper {
  max-width: 1350px;
  min-height: 80vh;
  padding: 8rem 60px 3rem;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  gap: 1.5em;
}

.wrapper .wrapper-images img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.wrapper .wrapper-images img:hover {
  transform: scale(1.1);
}

/* modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.664);
  display: flex;
  align-items: center;
  z-index: 1;
}
.overlay img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.722);
}
.overlay > span {
  position: absolute;
  top: 100px;
  right: 20px;
  font-size: 30px;
  color: #ffffff;
  z-index: 999;
  cursor: pointer;
}

.overlay svg {
  cursor: pointer;
}

.overlay-arrows_left {
  display: flex;
  background-color: #6d6d6d7a;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  left: 0;
  border-radius: 50%;
  z-index: 999;
}

.overlay-arrows_left svg {
  width: 40px;
  height: 40px;
}

.overlay-arrows_right svg {
  width: 40px;
  height: 40px;
}

.overlay-arrows_right {
  display: flex;
  background-color: #6d6d6d7a;
  justify-content: space-between;
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  top: 50%;
  border-radius: 50%;
  z-index: 999;
}

/* Russian Gallery */
.col {
  width: fit-content;
  min-height: auto;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 8rem 0 3rem 0;
  gap: 5em;
}

.col p {
    opacity: 0;
}

.card {
  width: 300px;
  height: 400px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}

.card:hover {
  transform: translateY(-10px);
}

.card h2 {
  color: #fff;
  text-shadow: 0 0 5px #000;
}

/* Animation */

/* Sub-menu Animation */
@keyframes appear {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear-out {
  100% {
    transform: scale(1);
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

/* Flag Animation */
/* @media (prefers-reduced-motion: no-preference) {
  section .container .flags img {
    animation: flag-spin infinite 20s linear;
  }
} */

@keyframes flag-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Queries */

@media(max-width:700px) {
  .col {
    margin: 0 auto;
    padding: 8rem 0 3rem 0;
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    width: 200px;
    height: 300px;
  }
}
@media(max-width: 860px){
  header {
    padding: 20px;
    display: flex;
  }

  header label {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%; left: 0; right: 0;
    background: #0e314f;
    display: none;
    animation: appear-out 1s ease-in-out;
    border-top: 1px solid rgba(255, 0, 0, 0.637);
  }

  header .navbar ul li {
    width: 100%;
    text-align: center;
  }

  header .navbar ul li ul {
    position: relative;
    width: 100%;
    animation: appear 1.5s ease;
    border-radius: unset;
  }

  header .navbar ul li ul li {
    background: #1b599065;
    border-radius: 0px;
    border: 0.1px solid rgba(204, 204, 204, 0.137);
  }

  header .navbar ul li ul li:hover {
    background: #1b5990;
  }

  header .navbar ul li ul li ul {
    width: 100%;
    left: 0;
  }
  
  header .navbar ul li ul li ul li:hover {
    background: #006bc884;
  }

  input:checked ~ .navbar, .navbar ul {
    display: block;
    animation: appear .5s ease-in-out;
  }

}
