.App{
  /* height: 100vh; */
}

/* Header Style */
header {
  background-color: #0e314f;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  height: 80px;
  padding: 0 2rem;
}

.logo {
  width: 65px;
}

nav .navlink {
  display: inline-block;
  position: relative;
  margin: 0 1.5rem;
  width: 100px;
  text-align: center;
}

header .nav-btn {
  display: none;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.8rem;
}

span {
  /* width: fit-content; */
  opacity: 0.7;
}

span:hover {
  opacity: 1;
}

.application {
  background-color: #085ca07e;
  padding: .4rem;
  border-radius: 10px;
  opacity: 1;
}

.sub-menu-1 {
  display: none;
}

.sub-menu-1 ul li a {
  font-size: 15px;
}

nav a:hover .sub-menu-1 {
  display: block;
  position: absolute;
  z-index: 1;
  background-color: #0e314f;
  padding-top: 1.5rem;
  border-radius: 10px;
  opacity: 0;
  animation: appear 1s forwards;
}

nav a:hover .sub-menu-1 ul li {
  display: block;
  width: 130px;
  text-align: center;
  border-radius: 10px;
  transition: 0.5s;
  padding: 2px 0;
  margin: 2px 5px;
}

nav a:hover .sub-menu-1 ul li:hover { 
  background-color: #085ca0;
}

.sub-menu-2{
  display: none;
}

.hover-sub:hover .sub-menu-2 {
  display: block;
  position: absolute;
  z-index: 1;
  background-color: #0e314f;
  margin-top: -35px;
  margin-left: 95%;
  border-radius: 10px;
  opacity: 0;
  animation: appear 1s forwards;
}

/* Section */
section {
  /* background: url(../public/images/bg-desktop/bg-d3-1.jpg) no-repeat top center/cover; */

}

section .container {
  width: auto;
  max-width: 1000px;
  backdrop-filter: blur(5px);
  text-align: center;
  letter-spacing: 1.5px;
  padding: 1.5rem;
  margin: auto;
}

section .container h1, p {
  max-width: 1000px;
  margin: auto;
}

section .container .flags {
  margin-top: .8em;
}

section .container .flags img {
  display: inline-block;
  width: 50px;
  margin: 0 5px;
}

/* Main */
main {
  width: 100%;
  background-color: #0e314fac;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  margin: 0 auto;
  gap: 1rem;
}

main .container h1 {
  max-width: 500px;
  display: inline;
  text-align: center;
  font-size: 32px;
  /* text-transform: uppercase; */
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 5px;
}

main .main2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

}

main .container img {
  display: inline;
  height: auto;
  width: 450px;
  max-width: 100%;
}

/* Social Media Style */
.social-component {
  /* position: fixed; */
  display: flex;
  /* opacity: 0; */
  gap: 1em;
  /* color: black; */
  font-size: 150%;
  /* top: 80%; */
  /* right: 1em; */
  /* z-index: 2; */
}

/* Footer */
footer {
  background-color: #0e314f;
  padding: 20px;

}

footer a, .social-component a {
  opacity: 0.7;
  cursor: pointer;
}

footer a:hover, .social-component a:hover {
  opacity: 1;
}

footer .social-medias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
}

footer .social-medias a {
  width: 40px;
  height: 40px;
  font-size: 24px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 8px;
}

footer ul {
  text-align: center;
}

footer ul li {
  display: inline-block;
  padding: 0 10px;
}

footer p {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: rgb(197, 197, 197);
}

/* Animation */

/* Sub-menu Animation */
@keyframes appear {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Flag Animation */
@media (prefers-reduced-motion: no-preference) {
  section .container .flags img {
    animation: flag-spin infinite 20s linear;
  }
}

@keyframes flag-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Queries */
@media only screen and (max-width: 800px) {
  
  header .nav-btn {
    display: block;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    transition: 0s;
    font-size: 20px;
    transform: translateY(-100vh);
    
    background-image: url('../public/images/bg-mobile/bg-m5.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  header .responsiveNav {
    z-index: 1;
    transform: none;
    height: 100%;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a:hover .sub-menu-1, .sub-menu-2 {
    display: none;
  }

  /* nav .sub-menu-1, .sub-menu-2 {
    display: block;
    background-color: #085ca0c6;
    border-radius: 10px;
  } */

  .navbar a {
    width: 170px;
  }
  
}
