.App{
  /* height: 100vh; */
}

/* Header Style */
header {
  background-color: #0e314f;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  height: 80px;
  padding: 0 2rem;
}

.logo {
  width: 65px;
}

nav .navlink {
  display: inline-block;
  position: relative;
  margin: 0 1.5rem;
  width: 100px;
  text-align: center;
}

header .nav-btn {
  display: none;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.8rem;
}

span {
  width: fit-content;
  opacity: 0.7;
}

span:hover {
  opacity: 1;
}

.application {
  width: 180px;
  display: inline-block;
  background-color: #085ca07e;
  padding: 4px 5px;
  border-radius: 10px;
  opacity: 1;
}

.sub-menu-1 {
  display: none;
}

.sub-menu-1 ul li a {
  font-size: 15px;
}

nav a:hover .sub-menu-1 {
  display: block;
  position: absolute;
  z-index: 1;
  background-color: #0e314f;
  padding-top: 1.5rem;
  border-radius: 10px;
}

nav a:hover .sub-menu-1 ul li {
  display: block;
}

nav a:hover .sub-menu-1 ul li {
  width: 130px;
  text-align: center;
  border-radius: 10px;
  transition: 0.5s;
  padding: 2px 0;
  margin: 2px 5px;
}

nav a:hover .sub-menu-1 ul li:hover { 
  background-color: #085ca0;
}

.sub-menu-2{
  display: none;
}

.hover-sub:hover .sub-menu-2 {
  display: block;
  position: absolute;
  z-index: 1;
  background-color: #0e314f;
  margin-top: -35px;
  margin-left: 95%;
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {
  
  header .nav-btn {
    display: block;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    transition: 0s;
    font-size: 20px;
    transform: translateY(-100vh);
    
    background-image: url('../public/images/bg-mobile/bg-m5.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  header .responsiveNav {
    z-index: 1;
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a:hover .sub-menu-1 ul li {
    display: none;
  }

  span {
    display: block;
    text-align: center;
    margin: auto;
  }

  span .application {
    width: 0px;
  }
  
}


/* Section */
section {
  background: url(../public/images/bg-desktop/bg-d3-1.jpg) no-repeat top center/cover;
}

section .container {
  width: auto;
  backdrop-filter: blur(5px);
  text-align: center;
  letter-spacing: 1.5px;
  padding: 1.5rem;
}

section .container h1, p {
  max-width: 1000px;
  margin: auto;
}

section .container .flags img {
  display: inline-block;
  width: 50px;
  margin: 0 5px;
}

@media (prefers-reduced-motion: no-preference) {
  section .container .flags img {
    animation: flag-spin infinite 20s linear;
  }
}

@keyframes flag-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Footer */
footer {
  padding: 40px;
}

footer a {
  opacity: 0.7;
}

footer a:hover {
  opacity: 1;
}

footer .social-medias {
  display: flex;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
}

footer .social-medias a {
  width: 40px;
  height: 40px;
  font-size: 24px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 8px;
}

footer ul {
  text-align: center;
}

footer ul li {
  display: inline-block;
  padding: 0 20px;
}

footer p {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: rgb(197, 197, 197);
}
